# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
.venv/

# Data and results (often too large for GitHub)
*.csv
*.h5
*.pkl
datasets/results/*
!datasets/results/.gitkeep

# Model checkpoints and visualizations
/neural_networks/output/*

# Weights and Biases
/wandb/*

# Visualizations
data_generation/visualization/figures/*
data_generation/figs/*

# IDE-specific files
.vscode/
.idea/
*.swp
.ipynb_checkpoints/

# Jupyter Notebooks
*.ipynb

# Operating system files
.DS_Store
Thumbs.db
