# Python-related files
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.env/
.venv/

# Data and results (often too large for GitHub)
*.csv
*.h5
*.pkl
datasets/raw/*
datasets/processed/*

# IDE-specific files
.vscode/
.idea/
*.swp
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db
